# ------- FLOOR 1 -------

define host {
    use                 generic-camera
    host_name           Conference
    alias               School Conference Hall
    address             10.7.50.2
    hostgroups          cams
}

define host {
    use                 generic-camera
    host_name           first_floor_fire
    alias               School first floor fire
    address             10.7.50.3
    hostgroups          cams
}

define host {
    use                 generic-camera
    host_name           first_floor_stairs
    alias               School first floor stairs
    address             10.7.50.71
    hostgroups          no_snmp_cams
}

define host {
    use                 generic-camera
    host_name           camera_office_academy
    alias               Camera Office Academy
    address             10.7.0.15
    hostgroups          no_snmp_cams
}


define host {
    use                 generic-camera
    host_name           A11CAM1
    alias               School floor 1 calss 11
    address             10.7.50.11
    hostgroups          cams
}


define host {
    use                 generic-camera
    host_name           second_floor_stairs
    alias               School second floor stairs
    address             10.7.50.72
    hostgroups          no_snmp_cams
}


define host {
    use                 generic-camera
    host_name           A21CAM1
    alias               School floor 2 calss 21
    address             10.7.50.21
    hostgroups          cams


    define host {
    use                 generic-camera
    host_name           A22CAM1
    alias               School floor 2 calss 22
    address             10.7.50.22
    hostgroups          cams
}


define host {
    use                 generic-camera
    host_name           A23CAM1
    alias               School floor 2 calss 23
    address             10.7.50.23
    hostgroups          no_snmp_cams
}


define host {
    use                 generic-camera
    host_name           A24CAM1
    alias               School floor 2 calss 24
    address             10.7.50.24
    hostgroups          cams
}


define host {
    use                 generic-camera
    host_name           A25CAM1
    alias               School floor 2 calss 25
    address             10.7.50.25
    hostgroups          cams
}


define host {
    use                 generic-camera
    host_name           A26CAM1
    alias               School floor 2 calss 26
    address             10.7.50.26
    hostgroups          cams
}
