# ------- FLOOR 1 -------

define host {
    use                 generic-camera
    host_name           Conference
    alias               School Conference Hall
    address             10.7.50.2
    hostgroups          cams
}

define host {
    use                 generic-camera
    host_name           first_floor_fire
    alias               School first floor fire
    address             10.7.50.3
    hostgroups          cams
}

define host {
    use                 generic-camera
    host_name           first_floor_stairs
    alias               School first floor stairs
    address             10.7.50.71
    hostgroups          no_snmp_cams
}

define host {
    use                 generic-camera
    host_name           camera_office_academy
    alias               Camera Office Academy
    address             10.7.0.15
    hostgroups          no_snmp_cams
}


define host {
    use                 generic-camera
    host_name           A11CAM1
    alias               School floor 1 calss 11
    address             10.7.50.11
    hostgroups          cams
}