# --- Check Host Alive ---
define command {
    command_name    check-host-alive
    command_line    /opt/nagios/libexec/check_ping -H $HOSTADDRESS$ -w 100.0,20% -c 500.0,60% -p 5
}

# --- Notify via Telegram ---
define command {
    command_name    notify-service-by-r2d2
    command_line    /opt/nagios/etc/scripts/notify_r2d2.sh "$SERVICESTATE$" "Service *$SERVICEDESC$* on *$HOSTNAME$* is *$SERVICESTATE$*\nInfo: $SERVICEOUTPUT$\nTime: $LONGDATETIME$"
}

define command {
    command_name    notify-host-by-r2d2
    command_line    /opt/nagios/etc/scripts/notify_r2d2.sh "$HOSTSTATE$" "Host *$HOSTNAME$* is *$HOSTSTATE$*\nInfo: $HOSTOUTPUT$\nTime: $LONGDATETIME$"
}

# --- Check Ping ---
define command {
    command_name    check_ping
    command_line    /opt/nagios/libexec/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
}