#define service {
#    use                     camera-service
#    hostgroup_name          cams
#    service_description     System Time
#    check_command           check_snmp_hikvision!time
#    notes                   "System time reported via SNMP (OID .19.0) - STRING"
#}