define service {
    use                     generic-service
    hostgroup_name          switches
    service_description     Fan Status
    check_command           check_snmp!LibreNms!1.3.6.1.4.1.9.9.13.1.4.1.3.1004!-w 2 -c 3
}

define service {
    use                     generic-service
    hostgroup_name          switches
    service_description     Temp Alarm
    check_command           check_snmp_temp_cisco
}

define service {
    use                     generic-service
    hostgroup_name          switches
    service_description     PSU Status
    check_command           check_snmp!LibreNms!1.3.6.1.4.1.9.9.13.1.5.1.3.1003!-w 2 -c 3
}

define service {
    use                     generic-service
    hostgroup_name          switches
    service_description     Storage Usage
    check_command           check_snmp_storage_cisco!LibreNms!auto!80!90
}

define service {
    use                     generic-service
    hostgroup_name          switches
    service_description     All Ports Status
    check_command           check_snmp_cisco!interface!none!none!none
}
#define service {
#    use                     generic-service
#    hostgroup_name          switches
#    service_description     Storage Usage
#    check_command           check_snmp_cisco!temperature!30!50
#}
