##############################################################################
# Added by: Komisarchuk Mark
# Purpose: Monitor host availability via ICMP ping
# Target IP: 10.7.0.101
##############################################################################

define host {
    use                     generic-host
    host_name               komisarchuk-host
    alias                   Monitoring Target
    address                 10.7.0.101
    check_command           check-host-alive

    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
}

define service {
    use                     generic-service
    host_name               komisarchuk-host

    service_description     PING

    check_command           check_ping!100.0,20%!500.0,60%

    check_interval          1
    retry_interval          1
}
